* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffe4d6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  width: 40vw;
  aspect-ratio: 1;
  background-color: #ffbb5c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.sun {
  width: 18vw;
  aspect-ratio: 1;
  background-color: #e25e3e;
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: inherit;
    aspect-ratio: 1;
    background-color: #000;
  }
}
